<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>puget fence</title>
    <link href="/static/style/boilerplate.css" rel="stylesheet" type="text/css">
    <link href="/static/style/index.css" rel="stylesheet" type="text/css">
    <!-- favicon fonts -->
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lobster|Six+Caps" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/js/respond.min.js"></script>
    <script type="text/javascript" src="/static/js/imgflip.js"></script>
  </head>
  <body>
    <div class="gridContainer clearfix">
      <div id="div1" class="fluid">

          <header>
            <div id="contact">
                <h1><a href='https://dl.dropboxusercontent.com/u/70208644/images/doc/catalog/Mini-PC.pdf'>2016 New Catalog</a></h1>
            </div>
          	<div id="logo">
              <img src="/static/img/MQ2.png"/>
            </div>
          		<h1>MayQueen Embedded Studio</h1>

	<div id="cssmenu">
          		<ul>
          			<li><a href="/"><span>Home</span></a></li>
          			<li><a href="/products"><span>Products</span></a></li>
          			<li><a href="/download_minipc"><span>Download Center</span></a></li>
          			<li><a href="https://www.facebook.com/mayqueen.embedded/"><span>News</span></a></li>
          			<li><a href="http://www.mayqueentek.mooo.com:5000/"><span>Forum</span></a></li>
          			<li class ="active"><a href="/about"><span>About Us</span></a></li>
          		</ul>
    </div>
        </header>

       	  <div id="aboutcontainer">
            <h4>Our Story</h4>
            <div id="aboutp">
			MayQueen is ambitious of being the best design and develope embedded goods platform in the world, we not only have many the top of RD but also expert management employees. We insist to sell high quality and invent indivisual goods only. We'll reach the world's business-opportunity in the future even though we're located in TW in 2015 so far. Everyone would be attracted by us in the world soon!
            </div>

            <h4>Contact Us</h4>
            <div id="contactus">
              <b>Line:</b> love_mayqueen (Sales: Wig) &nbsp;
  			      <b>Phone:</b> 886-925256760 &nbsp;
  			      <b>E-mail:</b> mqservice01@gmail.com &nbsp;
            </div>

            <h4>Area We Are Serving</h4>

            <div id="areas">
              &#8226; Taiwan
      		  &#8226; Hong Kong
      		  &#8226; Japan
            </div>

            <h4>Purchase</h4>
                <div id="testimonial">
                <a href="http://class.ruten.com.tw/user/index00.php?c=&m=&o=&p=&s=mqshop"><img src='https://dl.dropboxusercontent.com/u/70208644/images/official/contact/sold_icon.png' /></a>
                <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/contact/ypi.png'/>
                </div>
            </div>
			    <div id="lowerline"></div>

        <footer>
          <p>Copyright MayQueen 2016</p>
        </footer>
      </div>
    </div>
  </body>
</html>
