<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Contact Us</title>
		<link rel="stylesheet" type="text/css" href="/static/NestedAccordion/css/default.css" />
		<link rel="stylesheet" type="text/css" href="/static/NestedAccordion/css/component.css" />
		<script src="/static/NestedAccordion/js/modernizr.custom.js"></script>
	</head>
	<body>
        <a href="/"><span><b>Home</b></span></a>
		<div class="container">
			<header class="clearfix">
				<span>MayQueenTek</span>
				<h1>Contact Us</h1>
			</header>	
			<div class="main">
				<ul id="cbp-ntaccordion" class="cbp-ntaccordion">
					<li>
						<h3 class="cbp-nttrigger">Official Shop</h3>
						<div class="cbp-ntcontent">
                            <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/contact/sold_icon.png' />
                            <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/contact/ypi.png'/>
                            <p>Ruten internet auction (TW):<a href='http://class.ruten.com.tw/user/index00.php?c=&m=&o=&p=&s=mqshop'>Click Me</a></p>
                            <p>Phone: 0925-256760 </p>
                            <p>Contact time: Mon.~Fri. PM 8:00 ~ PM 11:00</p>
						</div>
					</li>
					<li>
						<h3 class="cbp-nttrigger">Official LINE</h3>
						<div class="cbp-ntcontent">
                            <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/contact/line_icon.png' />
                            <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/contact/qr.jpg' />
                            <p>ID: love_mayqueen</p>
                            <p>QR Code: As above</p>
						</div>
					</li>
					<li>
						<h3 class="cbp-nttrigger">Official Mail</h3>
						<div class="cbp-ntcontent">
                            <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/contact/gmail.jpg' />
                            <p>E-Mail: mqservice01@gmail.com</p>
                            <p>Contact time: Any time!</p>
						</div>
					</li>
			</ul>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="/static/NestedAccordion/js/jquery.cbpNTAccordion.min.js"></script>
		<script>
			$( function() {
				/*
				- how to call the plugin:
				$( selector ).cbpNTAccordion( [options] );
				- destroy:
				$( selector ).cbpNTAccordion( 'destroy' );
				*/

				$( '#cbp-ntaccordion' ).cbpNTAccordion();

			} );
		</script>
	</body>
</html>
