<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>聯絡我們</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/scripts/bootstrap-dropdown.js"></script>

    <script type='text/javascript'>
    $(document).ready(function(){
      $('#topbar').dropdown();
    });
    </script>

    <!-- Le styles -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="index.html">聯絡我們</a>
          <ul class="nav">
            <li><a href="index.html">回首頁</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="row">
        <div class='span8 offset1'>
          <h1>聯絡我們</h1>
          <HR color="#000000" size="5">
          <h3>官方賣場</h3>
          <img src='/static/images/sample/sold_icon.png' class='content-thumbnail'/>
          <p></p>
          <strong>網址:</strong><a href='http://class.ruten.com.tw/user/index00.php?c=&m=&o=&p=&s=mqshop'> 點選我</a><br/>
          <strong>Email:</strong> mqservice01@gmail.com <br/>
          <strong>聯絡電話:</strong> 0925-256760 <br/>
          <strong>聯絡時間:</strong> 週一到週五 AM 10:00 ~ PM 18:00<br/>

          <HR color="#000000" size="5">
          <h3>官方LINE</h3>
          <img src='/static/images/sample/line_icon.png' class='content-thumbnail'/>
          <img src='/static/images/sample/qr.jpg' class='content-thumbnail'/>
          <p></p>
          <strong>ID:</strong> love_mayqueen<br/>
          <strong>QR Code:</strong> 如上圖右<br/>
          <strong>客服時段:</strong> 隨時都可以留言詢問,若遇到未讀情形請耐心等候.<br/>


          <div class='cleaner_h20'></div>
        </div>

        <div class='span6'>
          <h3>合作伙伴</h3>
          <img src='/static/images/sample/rs-logo_lrg.png' class='content-thumbnail'/>
          <div class='cleaner_h10'></div>


      <footer>
        <p>&copy; Author 2014 By Wig C.</a></p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
