<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>聯絡我們</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/scripts/bootstrap-dropdown.js"></script>

    <script type='text/javascript'>
    $(document).ready(function(){
      $('#topbar').dropdown();
    });
    </script>

    <!-- Le styles -->
    <STYLE TYPE="text/css">
        @import url("/static/bootstrap/css/bootstrap.min.css");
    </STYLE>

    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/static/bootstrap/css/style.css" rel="stylesheet" type="text/css">

  </head>

  <body>
    <!--begin nav-->

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="#">MAYQUEEN TEK</a>
            </div>
            <div class="collapse navbar-collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">{{home}}</a></li>
                    <li><a href="/team">{{about_us}}</a></li>
                    <li><a href="/goods">{{product}}</a></li>
                    <li><a href="/support">{{support}}</a></li>
                    <li><a href="http://mayqueentek.blogspot.tw/">{{news}}</a></li>
                    <li class="active"><a href="/contact">{{contact}}</a></li>
                </ul>

            </div>
        </div>
    </div>

    <!-- End of navbar-->
    <br><br><br><br>

    <div class="container bottompad">

    <h2 class="underline">聯絡我們</h2>
          <h3>官方賣場</h3>
          <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/contact/sold_icon.png' class='content-thumbnail'/>
          <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/contact/ypi.png' class='content-thumbnail'/>
          <p></p>
          <strong>露天網址:</strong><a href='http://class.ruten.com.tw/user/index00.php?c=&m=&o=&p=&s=mqshop'> 點選我</a><br/>
          <strong>Y拍網址:</strong><a href='https://tw.bid.yahoo.com/tw/booth/Y6424675296'> 點選我</a><br/>
          <strong>聯絡電話:</strong> 0925-256760 <br/>
          <strong>聯絡時間:</strong> 週一到週五 PM 8:00 ~ PM 11:00<br/>

          <HR color="#00FF00" size="5">
          <h3>官方LINE</h3>
          <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/contact/line_icon.png' class='content-thumbnail'/>
          <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/contact/qr.jpg' class='content-thumbnail'/>
          <p></p>
          <strong>ID:</strong> love_mayqueen<br/>
          <strong>QR Code:</strong> 如上圖右<br/>
          <strong>客服時段:</strong> 隨時都可以留言詢問,若遇到未讀情形請耐心等候.<br/>

          <HR color="#000000" size="5">
          <h3>官方信箱</h3>
          <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/contact/gmail.jpg' class='content-thumbnail'/>
          <p></p>
          <strong>E-Mail:</strong> mqservice01@gmail.com<br/>
          <strong>客服時段:</strong> 隨時都可以寄信詢問.<br/>
    </div>

  </body>
</html>
