<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Contact Us</title>

  </head>

  <body bgcolor="#85caf4">
    <a href="/"><span><b>Home</b></span></a>
    <div>
          <h2>Official Shop</h2>
          <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/contact/sold_icon.png' class='content-thumbnail'/>
          <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/contact/ypi.png' class='content-thumbnail'/>
          <p></p>
          <strong>Ruten internet auction (TW):</strong><a href='http://class.ruten.com.tw/user/index00.php?c=&m=&o=&p=&s=mqshop'>Click Me</a><br/>
          <strong>Yahoo internet auction (TW):</strong><a href='https://tw.bid.yahoo.com/tw/booth/Y6424675296'>Click Me</a><br/>
          <strong>Phone:</strong> 0925-256760 <br/>
          <strong>Contact time:</strong> Mon.~Fri. PM 8:00 ~ PM 11:00<br/>

          <HR color="#000000" size="2">
          <h3>Official LINE</h3>
          <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/contact/line_icon.png' class='content-thumbnail'/>
          <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/contact/qr.jpg' class='content-thumbnail'/>
          <p></p>
          <strong>ID:</strong> love_mayqueen<br/>
          <strong>QR Code:</strong> As above<br/>

          <HR color="#000000" size="2">
          <h3>Official Mail</h3>
          <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/contact/gmail.jpg' class='content-thumbnail'/>
          <p></p>
          <strong>E-Mail:</strong> mqservice01@gmail.com<br/>
          <strong>Contact time:</strong> Any time!<br/>
    </div>
  </body>
</html>
