<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DashCam Solution</title>
	<meta name="description" content="A simple content slider with depth-like zoom functionality" />
	<meta name="keywords" content="blueprint, template, slider, zoom, javascript, depth, 3d, css" />
	<meta name="author" content="Codrops" />
	<link rel="shortcut icon" href="favicon.ico">
	<!-- Feather Icons -->
	<link rel="stylesheet" type="text/css" href="/static/products/fonts/feather/style.css">
	<!-- General demo styles & header -->
	<link rel="stylesheet" type="text/css" href="/static/products/css/demo.css" />
	<!-- Component styles -->
	<link rel="stylesheet" type="text/css" href="/static/products/css/component.css" />
	<script src="/static/products/js/modernizr.custom.js"></script>
</head>
<body>
<a href="/"><span><b>Home</b></span></a>
	<!-- Main container -->
	<div class="container">
		<!-- Blueprint header -->
		<!-- Grid -->
        <header class="bp-header cf">
            <span>MayQueenTek</span>
            <h1>DashCam Solution</h1>
        </header>

		<section class="slider">
			<div class="slide slide--current" data-content="content-1">
				<div class="slide__mover">
					<div class="zoomer flex-center">
						<img class="zoomer__image" src="https://dl.dropboxusercontent.com/u/70208644/images/official/products/macbook.png" alt="rp002-1a preview" />
						<div class="preview">
							<img src="https://dl.dropboxusercontent.com/u/70208644/images/official/products/rd001-1a-content-preview.png" alt="rp002-1a preview" />
							<div class="zoomer__area zoomer__area--size-2"></div>
						</div>
					</div>
				</div>
				<h2 class="slide__title"><span>High Quality</span>Car DashCam</h2>
			</div>
			<nav class="slider__nav">
				<button class="button button--nav-prev"><i class="icon icon--arrow-left"></i><span class="text-hidden">Previous product</span></button>
				<button class="button button--zoom"><i class="icon icon--zoom"></i><span class="text-hidden">View details</span></button>
				<button class="button button--nav-next"><i class="icon icon--arrow-right"></i><span class="text-hidden">Next product</span></button>
			</nav>
		</section>
		<!-- /slider-->
		<section class="content">
			<div class="content__item" id="content-1">
				<img class="content__item-img rounded-right" src="https://dl.dropboxusercontent.com/u/70208644/images/official/products/rd001-1a-content.jpg" alt="Apple Watch Content" />
				<div class="content__item-inner">
					<h2>Car DashCam</h2>
					<h3>High Quality, Low Power Consumption</h3>
                    <p>Hardware Features<br>
                    ☛ CPU Broadcom BCM2835 ARM Cortex-A6 Single core 700MHz <br>
                    ☛ GPU Broadcom BCM2763 Video Core<br>
                    ☛ RAM DDR3 512MB <br>
                    ☛ 40 fully available GPIO <br>
                    ☛ HDMI and Composite <br>
                    ☛ Analog Audio <br>
                    ☛ Micro SD card reader (boot device)<br>
                    ☛ 1 Micro USB <br>
                    ☛ 4 USB 2.0 connector <br>
                    ☛ CSI Camera 5M/1080P <br>
                    ☛ Input Voltage 5V <br>
                    ☛ Ethernet<br>
                    ☛ Wifi dongle<br>
                    ☛ Official plastic case</p>
                    <p>Software Support<br>
                    ☛ MayQueen OS: Raspbian 7.5</p>
				</div>
			</div>
			<button class="button button--close"><i class="icon icon--circle-cross"></i><span class="text-hidden">Close content</span></button>
		</section>
	</div>
	<script src="/static/products/js/classie.js"></script>
	<script src="/static/products/js/dynamics.min.js"></script>
	<script src="/static/products/js/main.js"></script>
</body>
</html>
