<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Download Center</title>
		<link rel="stylesheet" type="text/css" href="/static/NestedAccordion/css/default.css" />
		<link rel="stylesheet" type="text/css" href="/static/NestedAccordion/css/component.css" />
		<script src="/static/NestedAccordion/js/modernizr.custom.js"></script>
	</head>
	<body>
        <a href="/"><span><b>Home</b></span></a>
		<div class="container">
			<header class="clearfix">
				<span>MayQueenTek</span>
				<h1>Download</h1>
			</header>	
			<div class="main">
				<ul id="cbp-ntaccordion" class="cbp-ntaccordion">
					<li>
						<h3 class="cbp-nttrigger">Documentation</h3>
						<div class="cbp-ntcontent">
                        <table border=10>
                            <h4 class="underline"><strong>Schematics</strong></h4>
                                <tr>
                                    <td>
                                        <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/support/pdf-icon.png' class='content-thumbnail'/>
                                    </td>
                                    <td>
                                        <a href='https://dl.dropboxusercontent.com/u/70208644/images/release/Raspberry-Pi-Rev-2.1-Model-AB-Schematics.pdf'><strong>RD003-2A</strong></a><br>
                                        <strong>Release Date: 2015/09/19</strong><br>
                                    </td>
                                </tr>
                        </table>
                        </div>
				    </li>
<li>
						<h3 class="cbp-nttrigger">Software Images</h3>
						<div class="cbp-ntcontent">
<table border=10>
 <h4 class="underline"><strong>Dashcam Solution</strong></h4>
      <tr>
          <td>
            <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/support/raspbian_mq.png' class='content-thumbnail'/>
          </td>
           <td>
               <a href='https://dl.dropboxusercontent.com/u/70208644/images/release/20150518_RD001-1A.zip'><strong>RD001-1A SD image</strong></a><br>
               <strong>Release Date: 2015/05/18</strong><br>
               <strong>Raspbian 7.5 + Mayqueen customize</strong>
          </td>
      </tr>
      </table>
      <br><br>
<table border=10>
 <h4 class="underline"><strong>MiniPC Solution</strong></h4>
      <tr>
          <td>
            <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/support/raspbian_mq.png' class='content-thumbnail'/>
          </td>
           <td>
               <a href='https://dl.dropboxusercontent.com/u/70208644/images/release/20150710_RP002-1A.zip'><strong>RP002-1A SD image</strong></a><br>
               <strong>Release Date: 2015/07/10</strong><br>
               <strong>Raspbian 7.5</strong>
          </td>
      </tr>
      <tr>
          <td>
            <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/support/lubuntu.png' class='content-thumbnail'/>
          </td>
           <td>
               <a href='https://dl.dropboxusercontent.com/u/70208644/images/release/20150905_RP003-2B_ubuntu1404.zip'><strong>RP003-2B SD image</strong></a><br>
               <strong>Release Date: 2015/09/05</strong><br>
               <strong>Ubuntu14.04 LTS with LXDE desktop</strong>
          </td>
      </tr>

      <tr>
          <td>
            <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/support/trusty-14.04LTS.png' class='content-thumbnail'/>
          </td>
           <td>
               <a href='https://dl.dropboxusercontent.com/u/70208644/images/release/20151224_RP003-2B_ubuntu1404-chinese.zip'><strong>RP003-2B SD image</strong></a><br>
               <strong>Release Date: 2015/12/24</strong><br>
               <strong>Ubuntu14.04 LTS-Taiwan Version</strong>
          </td>
      </tr>

      <tr>
          <td>
            <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/support/android_marshmallow.png' class='content-thumbnail'/>
          </td>
           <td>
               <a href='https://dl.dropboxusercontent.com/u/70208644/images/release/20151210_RP003-2B_android6.0-alpha.zip'><strong>RP003-2B SD image</strong></a><br>
               <strong>Release Date: 2015/12/11</strong><br>
               <strong>Android 6.0-Alpha Version</strong>
          </td>
      </tr>

      <tr>
          <td>
            <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/support/xbian.png' class='content-thumbnail'/>
          </td>
           <td>
               <a href='https://dl.dropboxusercontent.com/u/70208644/images/release/20151023_RP003-2A_xbian.zip'><strong>RP003-2B SD image</strong></a><br>
               <strong>Release Date: 2015/10/24</strong><br>
               <strong>Xbian Stable Version</strong>
          </td>
      </tr>

      <tr>
          <td>
            <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/support/wily-15.10.png' class='content-thumbnail'/>
          </td>
           <td>
               <a href='https://dl.dropboxusercontent.com/u/70208644/images/release/20151125_RP003-2B_ubuntu1510.zip'><strong>RP003-2B SD image</strong></a><br>
               <strong>Release Date: 2015/11/28</strong><br>
               <strong>Ubuntu15.10 (account:password=ubuntu:ubuntu)</strong>
          </td>
      </tr>

      </table>

    <br><br>
    <table border=10>
    <h4 class="underline"><strong>Mini Server Solution</strong></h4>
    <tr>
    <td>
        <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/support/ubuntu-server.png' class='content-thumbnail'/>
    </td>
    <td>
        <a href='https://dl.dropboxusercontent.com/u/70208644/images/release/20151025_RS005-2A_ubuntu1404.zip'><strong>RS005-2B SD image</strong></a><br>
        <strong>Release Date: 2015/10/25</strong><br>
        <strong>Ubuntu server 14.04 LTS-Alpha</strong>
    </td>
    </tr>

    <tr>
    <td>
        <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/support/wily-15.10.png' class='content-thumbnail'/>
    </td>
    <td>
        <a href='https://dl.dropboxusercontent.com/u/70208644/images/release/20160103_XS006-XPI_ubuntu1510-server.zip'><strong>XS006-XPI SD image</strong></a><br>
        <strong>Release Date: 2016/1/3</strong><br>
        <strong>Ubuntu server 15.10</strong>
    </td>
    </tr>



    </table>

						</div>
					</li>
					<li>
						<h3 class="cbp-nttrigger">Source Code</h3>
						<div class="cbp-ntcontent">
                        <table border=10>
                            <h4 class="underline"><strong>Linux Kernel</strong></h4>
                                <tr>
                                    <td>
                                        <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/support/linux.png' class='content-thumbnail'/>
                                    </td>
                                    <td>
                                        <strong>GITHUB</strong><br>
                                        <a href='https://github.com/MayQueenTek/RPI2-kernel'><strong>Download Link</strong></a><br>
                                    </td>
                                </tr>
                        </table>

						</div>
					</li>
			</ul>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="/static/NestedAccordion/js/jquery.cbpNTAccordion.min.js"></script>
		<script>
			$( function() {
				/*
				- how to call the plugin:
				$( selector ).cbpNTAccordion( [options] );
				- destroy:
				$( selector ).cbpNTAccordion( 'destroy' );
				*/

				$( '#cbp-ntaccordion' ).cbpNTAccordion();

			} );
		</script>
	</body>
</html>
