<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Goods</title>
		<link rel="shortcut icon" href="../favicon.ico">
        <STYLE TYPE="text/css">
            @import url("/static/goods/css/default.css");
            @import url("/static/goods/css/component.css");
        </STYLE>

		<script src="/static/goods/js/modernizr.custom.js"></script>
        <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/static/bootstrap/css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>

    <!--begin nav-->

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="#">MAYQUEEN TEK</a>
            </div>
            <div class="collapse navbar-collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">{{home}}</a></li>
                    <li><a href="/team">{{about_us}}</a></li>
                    <li class="active"><a href="/goods">{{product}}</a></li>
                    <li><a href="/support">{{support}}</a></li>
                    <li><a href="http://mayqueentek.blogspot.tw/">{{news}}</a></li>
                    <li><a href="/contact">{{contact}}</a></li>
                </ul>

            </div>
        </div>
    </div>

    <!-- End of navbar-->
    <br><br><br><br><br><br><br>

		<div class="container">
			<div id="cbp-pgcontainer" class="cbp-pgcontainer">
				<ul class="cbp-pggrid">
					<li>
						<div class="cbp-pgcontent">
							<span class="cbp-pgrotate">Rotate Item</span>
							<div class="cbp-pgitem">
								<div class="cbp-pgitem-flip">
                                    <a href="/detail?0"><img src="https://dl.dropboxusercontent.com/u/70208644/images/official/goods/1_front.png" /></a>
									<img src="https://dl.dropboxusercontent.com/u/70208644/images/official/goods/1_back.png" />
								</div>
							</div><!-- /cbp-pgitem -->
							<ul class="cbp-pgoptions">
								<li class="cbp-pgoptsize">								
									<span data-size="XL">EXT</span>
									<div class="cbp-pgopttooltip">
										<span data-size="L">WIFI</span>
										<span data-size="M">BT</span>
										<span data-size="M">Case</span>
									</div>
								</li>
								<li class="cbp-pgoptfav">Favorite</li>
								<li class="cbp-pgoptsize">								
									<span data-size="XL">Droid</span>
								</li>

 								<li class="cbp-pgoptsize">								
									<span data-size="XL">Linux</span>
									<div class="cbp-pgopttooltip">
										<span data-size="L">Debian</span>
										<span data-size="L">Opensuse</span>
										<span data-size="L">Openwrt</span>
										<span data-size="L">Fedora</span>
										<span data-size="L">ArchLinux</span>
										<span data-size="L">Yocto</span>
										<span data-size="S">XBMC</span>
                                    </div>
								</li>
								<li class="cbp-pgoptcart"></li>
							</ul><!-- cbp-pgoptions -->
						</div><!-- cbp-pgcontent -->
						<div class="cbp-pginfo">
							<h3>Mini PC solution-Basic</h3>
							<span class="cbp-pgprice">$25↑</span>
						</div>
					</li>
					<li>
						<div class="cbp-pgcontent">
							<span class="cbp-pgrotate">Rotate Item</span>
							<div class="cbp-pgitem">
								<div class="cbp-pgitem-flip">
                                    <a href="/detail?1"><img src="https://dl.dropboxusercontent.com/u/70208644/images/official/goods/2_front.png" /></a>
									<img src="https://dl.dropboxusercontent.com/u/70208644/images/official/goods/2_back.png" />
								</div>
							</div><!-- /cbp-pgitem -->
							<ul class="cbp-pgoptions">
								<li class="cbp-pgoptsize">								
									<span data-size="XL">EXT</span>
									<div class="cbp-pgopttooltip">
										<span data-size="L">WIFI</span>
										<span data-size="L">Audio</span>
 										<span data-size="L">Camera</span>
										<span data-size="M">Case</span>
									</div>
								</li>

								<li class="cbp-pgoptfav">Favorite</li>
								<li class="cbp-pgoptsize">								
									<span data-size="XL">Dorid</span>
									<div class="cbp-pgopttooltip">
										<span data-size="L">4.4</span>
									</div>
								</li>

 								<li class="cbp-pgoptsize">								
									<span data-size="XL">Linux</span>
									<div class="cbp-pgopttooltip">
										<span data-size="M">Ubuntu</span>
										<span data-size="M">Sitarra</span>
									</div>
								</li>
								<li class="cbp-pgoptcart"></li>
							</ul>
						</div>
						<div class="cbp-pginfo">
							<h3>Mini PC solution-Professional</h3>
							<span class="cbp-pgprice">$65↑</span>
						</div>
					</li>

 					<li>
						<div class="cbp-pgcontent">
							<span class="cbp-pgrotate">Rotate Item</span>
							<div class="cbp-pgitem">
								<div class="cbp-pgitem-flip">
                                    <a href="/detail?2"><img src="https://dl.dropboxusercontent.com/u/70208644/images/official/goods/3_front.png" /></a>
									<img src="https://dl.dropboxusercontent.com/u/70208644/images/official/goods/3_back.png" />
								</div>
							</div><!-- /cbp-pgitem -->
							<ul class="cbp-pgoptions">
								<li class="cbp-pgoptsize">								
									<span data-size="XL">EXT</span>
									<div class="cbp-pgopttooltip">
										<span data-size="L">WIFI</span>
										<span data-size="M">BT</span>
										<span data-size="M">Case</span>
									</div>
								</li>
								<li class="cbp-pgoptfav">Favorite</li>
								<li class="cbp-pgoptsize">								
									<span data-size="XL">Droid</span>
									<div class="cbp-pgopttooltip">
										<span data-size="L">5.1</span>
									</div>
								</li>

 								<li class="cbp-pgoptsize">								
									<span data-size="XL">Linux</span>
									<div class="cbp-pgopttooltip">
										<span data-size="L">Ubuntu</span>
										<span data-size="L">Debian</span>
										<span data-size="L">Opensuse</span>
										<span data-size="L">Openwrt</span>
										<span data-size="L">Fedora</span>
										<span data-size="L">ArchLinux</span>
										<span data-size="L">Yocto</span>
										<span data-size="S">XBMC</span>
                                    </div>
								</li>
								<li class="cbp-pgoptcart"></li>
							</ul><!-- cbp-pgoptions -->
						</div><!-- cbp-pgcontent -->
						<div class="cbp-pginfo">
							<h3>Mini PC solution-Ultimate</h3>
							<span class="cbp-pgprice">$50↑</span>
						</div>
					</li> 

                    <li>
						<div class="cbp-pgcontent">
							<span class="cbp-pgrotate">Rotate Item</span>
							<div class="cbp-pgitem">
								<div class="cbp-pgitem-flip">
                                    <a href="/detail?3"><img src="https://dl.dropboxusercontent.com/u/70208644/images/official/goods/4_front.png" /></a>
                                    <img src="https://dl.dropboxusercontent.com/u/70208644/images/official/goods/4_back.png" />
								</div>
							</div><!-- /cbp-pgitem -->
							<ul class="cbp-pgoptions">
								<li class="cbp-pgoptsize">								
									<span data-size="XL">EXT</span>
									<div class="cbp-pgopttooltip">
										<span data-size="L">WIFI</span>
										<span data-size="L">Camera</span>
										<span data-size="L">Case</span>
									</div>
								</li>

								<li class="cbp-pgoptfav">Favorite</li>
								<li class="cbp-pgoptsize">								
									<span data-size="XL">Droid</span>
								</li>
 								<li class="cbp-pgoptsize">								
									<span data-size="XL">Linux</span>
									<div class="cbp-pgopttooltip">
										<span data-size="S">Debian</span>
									</div>
								</li>
								<li class="cbp-pgoptcart"></li>
							</ul>
						</div>
						<div class="cbp-pginfo">
							<h3>PICar Recoder Solution</h3>
							<span class="cbp-pgprice">$69</span>
						</div>
					</li>
				</ul><!-- /cbp-pggrid -->
			</div><!-- /cbp-pgcontainer -->
		</div>
		<script src="/static/goods/js/cbpShop.min.js"></script>
		<script>
			var shop = new cbpShop( document.getElementById( 'cbp-pgcontainer' ) ); 
		</script>
	</body>
</html>
