<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Goods</title>
		<meta name="description" content="Blueprint: Responsive Product Grid Layout" />
		<meta name="keywords" content="responsive, product grid, layout, elastic, grid, web development" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="/static/goods/css/default.css" />
		<link rel="stylesheet" type="text/css" href="/static/goods/css/component.css" />
		<script src="/static/goods/js/modernizr.custom.js"></script>
        <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/static/bootstrap/css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="#">MAYQUEEN TEK</a>
            </div>
            <div class="collapse navbar-collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">{{home}}</a></li>
                    <li><a href="/team">{{about_us}}</a></li>
                    <li class="active"><a href="/goods">{{product}}</a></li>
                    <li><a href="#portfolio">{{support}}</a></li>
                    <li><a href="#portfolio">{{news}}</a></li>
                    <li><a href="#blog">{{contact}}</a></li>
                </ul>

            </div>
        </div>
    </div>
    <br><br><br><br>
		<div class="container">
			<div id="cbp-pgcontainer" class="cbp-pgcontainer">
				<ul class="cbp-pggrid">
					<li>
						<div class="cbp-pgcontent">
							<span class="cbp-pgrotate">Rotate Item</span>
							<div class="cbp-pgitem">
								<div class="cbp-pgitem-flip">
                                    <img src="/static/goods/images/1_front.png" />
									<img src="/static/goods/images/1_back.png" />
								</div>
							</div><!-- /cbp-pgitem -->
							<ul class="cbp-pgoptions">
								<li class="cbp-pgoptsize">								
									<span data-size="XL">EXT</span>
									<div class="cbp-pgopttooltip">
										<span data-size="L">WIFI</span>
										<span data-size="M">BT</span>
									</div>
								</li>
								<li class="cbp-pgoptfav">Favorite</li>
								<li class="cbp-pgoptsize">								
									<span data-size="XL">HW</span>
									<div class="cbp-pgopttooltip">
										<span data-size="L">2B</span>
										<span data-size="M">B+</span>
										<span data-size="S">A+</span>
									</div>
								</li>

 								<li class="cbp-pgoptsize">								
									<span data-size="XL">OS</span>
									<div class="cbp-pgopttooltip">
										<span data-size="L">Raspbian</span>
										<span data-size="M">Ubuntu</span>
										<span data-size="S">XBMC</span>
									</div>
								</li>
								<li class="cbp-pgoptcart"></li>
							</ul><!-- cbp-pgoptions -->
						</div><!-- cbp-pgcontent -->
						<div class="cbp-pginfo">
							<h3>Raspberry PI</h3>
							<span class="cbp-pgprice">$30↑</span>
						</div>
					</li>
					<li>
						<div class="cbp-pgcontent">
							<span class="cbp-pgrotate">Rotate Item</span>
							<div class="cbp-pgitem">
								<div class="cbp-pgitem-flip">
									<img src="/static/goods/images/2_front.png" />
									<img src="/static/goods/images/2_back.png" />
								</div>
							</div><!-- /cbp-pgitem -->
							<ul class="cbp-pgoptions">
								<li class="cbp-pgoptsize">								
									<span data-size="XL">EXT</span>
									<div class="cbp-pgopttooltip">
										<span data-size="L">WIFI</span>
										<span data-size="L">Audio</span>
 										<span data-size="L">Camera</span>
									</div>
								</li>

								<li class="cbp-pgoptfav">Favorite</li>
								<li class="cbp-pgoptsize">								
									<span data-size="XL">HW</span>
									<div class="cbp-pgopttooltip">
										<span data-size="L">Rev.C</span>
									</div>
								</li>

 								<li class="cbp-pgoptsize">								
									<span data-size="XL">OS</span>
									<div class="cbp-pgopttooltip">
										<span data-size="M">Android</span>
										<span data-size="M">Ubuntu</span>
										<span data-size="S">Sitarra</span>
									</div>
								</li>
								<li class="cbp-pgoptcart"></li>
							</ul>
						</div>
						<div class="cbp-pginfo">
							<h3>BeagleBone Black</h3>
							<span class="cbp-pgprice">$65↑</span>
						</div>
					</li>
					<li>
						<div class="cbp-pgcontent">
							<span class="cbp-pgrotate">Rotate Item</span>
							<div class="cbp-pgitem">
								<div class="cbp-pgitem-flip">
                                    <a href="/detail?2"><img src="/static/goods/images/3_front.png" /></a>
                                    <img src="/static/goods/images/3_back.png" />
								</div>
							</div><!-- /cbp-pgitem -->
							<ul class="cbp-pgoptions">
								<li class="cbp-pgoptsize">								
									<span data-size="XL">EXT</span>
									<div class="cbp-pgopttooltip">
										<span data-size="L">WIFI</span>
										<span data-size="L">Camera</span>
										<span data-size="L">Case</span>
									</div>
								</li>

								<li class="cbp-pgoptfav">Favorite</li>
								<li class="cbp-pgoptsize">								
									<span data-size="XL">HW</span>
									<div class="cbp-pgopttooltip">
                                        <span data-size="XL">RPI A+</span>
									</div>
								</li>
 								<li class="cbp-pgoptsize">								
									<span data-size="XL">OS</span>
									<div class="cbp-pgopttooltip">
										<span data-size="S">Debian</span>
									</div>
								</li>
								<li class="cbp-pgoptcart"></li>
							</ul>
						</div>
						<div class="cbp-pginfo">
							<h3>PICar Recoder Solution</h3>
							<span class="cbp-pgprice">$69</span>
						</div>
					</li>
				</ul><!-- /cbp-pggrid -->
			</div><!-- /cbp-pgcontainer -->
		</div>
		<script src="/static/goods/js/cbpShop.min.js"></script>
		<script>
			var shop = new cbpShop( document.getElementById( 'cbp-pgcontainer' ) ); 
		</script>
	</body>
</html>
