<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>產品列表</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap-dropdown.js"></script>

    <script type='text/javascript'>
    $(document).ready(function(){
      $('#topbar').dropdown();
    });
    </script>

    <!-- Le styles -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
      .container-fluid > .content{
        margin-left:10px;
      }
      .categories li{

      }
      .categories li:focus{

      }
      #main-items tbody tr td{
        cursor:pointer !important;
      }
      .highlight td{
        font-weight:bold;
      }
      td.mini-thumbnail img{
        max-height:50px;
        max-width:100px;
      }
      td.mini-thumbnail{
        text-align:center;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href=#>產品列表</a>
          <ul class="nav">
            <li><a href="/">回首頁</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="content">
        <ul class="breadcrumb">
            <li class="active">熱門商品</li>
        </ul>
        <div class='cleaner'></div>
        <table class='zebra-striped' id='main-items'>
            <thead>
                <tr>
                    <th class='span2'></th>
                    <th class='span4'>品名</th>
                    <th class='span2'>價格</th>
                    <th class='span2'>商品地點</th>
                    <th class='span2'>剩餘數量</th>
                </tr>
            </thead>
            <tbody>
                <tr class='clickableRow' href='http://www.google.com.tw'>
                    <td class='mini-thumbnail'><img src='https://dl.dropboxusercontent.com/u/70208644/images/official/goods/mq-imx6.jpg'/></td>
                    <td>MQ-IMX6開發版</td>
                    <td>$2590</td>
                    <td>台北市</td>
                    <td>2</td>
                </tr>
                <tr class='highlight'>
                    <td class='mini-thumbnail'><img src='images/sample/car2.jpg'/></td>
                    <td>小屁盒 (官方主打款)</td>
                    <td>$1490</td>
                    <td>桃園市</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td class='mini-thumbnail'><img src='images/sample/car3.jpg'/></td>
                    <td>小屁防盜器</td>
                    <td>$2590</td>
                    <td>桃園市</td>
                    <td>即將上市</td>
                </tr>
                <tr>
                    <td class='mini-thumbnail'><img src='images/sample/car4.jpg'/></td>
                    <td>MQ-KID01兒童平板電腦</td>
                    <td>$990</td>
                    <td>桃園市</td>
                    <td>缺貨中</td>
                </tr>
            </tbody>
        </table>

        <footer>
          <p>&copy; Author 2014 By Wig C.</p>
        </footer>
      </div>
    </div>

  </body>
</html>
