<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<title>MayQueen Technology</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/static/bootstrap/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

	<!--begin nav-->

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
          		</button>
          		<a class="navbar-brand logo" href="#">MAYQUEEN TEK</a>
			</div>
			<div class="collapse navbar-collapse">

				<ul class="nav navbar-nav navbar-right">
            		<li class="active"><a href="#">首頁</a></li>
            		<li><a href="#pages">關於我們</a></li>
            		<li><a href="#features">產品列表</a></li>
            		<li><a href="#portfolio">新聞訊息</a></li>
            		<li><a href="#blog">聯絡我們</a></li>
            		<li><a href="#contact">加入我們</a></li>
          		</ul>

			</div>
		</div>
	</div>

	<!-- End of navbar-->
<div class="topmargin">
	<img src="/static/images/sample/company.jpg" class="topimg">
</div>
	
<div class="container bottompad toppad">
	<div class="col-md-4">
		<div class="col-xs-2">
			<h1><span class="glyphicon glyphicon-briefcase"></h1>
		</div>
		<div class="col-xs-10">
			<h2></span>創新產品</h2>
		</div>
		<div class="col-md-12">
            <p>MayQueen勵志成為全球最大設計及代理科技產品網站，擁有為數眾多的研發與管理人才，堅持只賣高品質的產品,獨一無二的產品!</p>
            <p>目前已於2015年在台灣成立，跨足國際市場將逐步成為未來的營運重點，希望有天能站上國際舞台!</p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="col-xs-2">
			<h1><span class="glyphicon glyphicon-floppy-disk"></h1>
		</div>
		<div class="col-xs-10">
			<h2></span>好的產品</h2>
		</div>
		<div class="col-md-12">
            1.各類CPU與Chip獨家代理並提供技術支援!<br>
            2.各類開發板獨家代理!<br>
            3.自有3C創意產品開發與販售!<br>
		</div>
	</div>
	<div class="col-md-4">
		<div class="col-xs-2">
			<h1><span class="glyphicon glyphicon-map-marker"></h1>
		</div>
		<div class="col-xs-10">
			<h2></span>獨家平台</h2>
		</div>
		<div class="col-md-12">
			<p>除了擁有官網可以提供下單外,也提供零售的部份,另外還提供Android,IOS雙平台APP供大家方便選購!</p>
		</div>
	</div>
</div>


<div class="container bottompad">
		<h2 class="underline">熱門產品</h2>
	<div class="col-xs-2">
		<a href="http://flic.kr/p/edQaJz"><img src="/static/images/sample/chicago2.jpg" class="img-thumbnail zoom project" data-toggle="tooltip" title="Chicago skyline"></a>
	</div>
	<div class="col-xs-2">
		<a href="http://flic.kr/p/eftt6R"><img src="/static/images/sample/chicago1.jpg" class="img-thumbnail zoom project" data-toggle="tooltip" title="Chicago from Willis Tower"></a>
	</div>
	<div class="col-xs-2">
		<a href="http://flic.kr/p/e6TjS3"><img src="/static/images/sample/onion.jpg" class="img-thumbnail zoom project" data-toggle="tooltip" title="Onion Ring Awareness Day"></a>
	</div>
	<div class="col-xs-2">
		<a href="http://flic.kr/p/hEoLW6"><img src="/static/images/sample/cookie.jpg" class="img-thumbnail zoom project" data-toggle="tooltip" title="Fortune Cookie"></a>
	</div>
	<div class="col-xs-2">
		<a href="http://flic.kr/p/fQkdYv"><img src="/static/images/sample/wings.jpg" class="img-thumbnail zoom project" data-toggle="tooltip" title="Wings on wings"></a>
	</div>
	<div class="col-xs-2">
		<a href="http://flic.kr/p/fYsEP6"><img src="/static/images/sample/infinity.jpg" class="img-thumbnail zoom project" data-toggle="tooltip" title="Disney Infinity"></a>
	</div>
</div>

<div class="container bottompad">
<h2 class="underline">最新消息</h2>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <h3>"測試!注意這只是測試!</h3>
    </div>
    <div class="item">
      <h3>"You know what? They're alright." - Gladys Q. Beans</h3>
    </div>
    <div class="item">
      <h3>"I was told there would be cake." - Marie N. Twanette</h3>
    </div>
  </div>

</div>
</div>


<div class="bottom">
<div class="container">
	<div class="col-md-4">
		<h2 class="underline">會員專區</h2>
		<p>登入並享受會員的專屬服務</p>
		<div class="input-group">
            <p><input type="text" class="form-control" placeholder="Email"></p>
            <p><input type="text" class="form-control" placeholder="Password"></p>
        	<button class="btn btn-default" type="button">登入</button>
            <button class="btn btn-default" type="button">註冊帳號</button>
    	</div>
	</div>
	<div class="col-md-4">
		<h2 class="underline">社群管道</h2>
		<img src="/static/images/sample/facebook.svg" class="icos">
		<img src="/static/images/sample/twitter.svg" class="icos">
		<img src="/static/images/sample/rss.svg" class="icos">
		<img src="/static/images/sample/google.svg" class="icos">
		<img src="/static/images/sample/pinterest.svg" class="icos">
		<img src="/static/images/sample/vimeo.svg" class="icos">
		<img src="/static/images/sample/linkedin.svg" class="icos">
	</div>
	<div class="col-md-4">
		<h2 class="underline">切換語言</h2>
        <a href="#">英文</a><br>
        <a href="#">繁體中文</a><br>
        <a href="#">簡體中文</a><br>
	</div>
</div>
</div>

<div class="waybottom">
	<div class="container">
		<p>Copyright ©2015 MayQueen Technology Co., Ltd.</p>
	</div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
<script>
	$(document).ready(function() {
		$('.project').tooltip()
	});
</script>

</body>

</html>
