<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MayQueen Studio</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap-dropdown.js"></script>

    <script type='text/javascript'>
    $(document).ready(function(){
      $('#topbar').dropdown();
    });
    </script>

    <!-- Le styles -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">MayQueen</a>
          <ul class="nav">
            <li class="active"><a href="/">首頁</a></li>
            <li ><a href="/goods">產品列表</a></li>
          </ul>
          <form action="" class="pull-right">
            <input class="input-small" type="text" placeholder="Username">
            <input class="input-small" type="password" placeholder="Password">
            <button class="btn" type="submit">VIP 登入</button>
          </form>
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <img class='pull-right' src='/static/images/sample/business1.jpg' alt=''/>
        <h2>最新消息</h2>
        <p>賀!2014/10月周年慶特賣會MQ自產平板電腦全數賣光!謝謝大家給予我們支持與鼓勵,我們也會繼續在3C與服飾這兩塊產業繼續耕耘與茁壯!</p>
        <p>安卓平板電腦,多媒體播放器,迷你電腦,各式服飾持續熱賣中!</p>
        <p><a class="btn primary large" href="/news">點選我看更多消息 &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span6">
          <h2>關於MQ <img src='/static/images/sample/icon1.png' alt=''/></h2>
          <p>MayQueen Studio成立於2014年,是一間專注於軟體研發與3C產品開發工作室,我們以品質優良的服務為核心，加上先進的數位開發技術，發展出不易超越的競爭優勢，本工作室經營團隊結合了海內外知名公司的研發、市場、營運的菁英，目前正處於快速成長期，我們期許為此產業的明日之星，並朝服務客戶至上的理念邁進。</p>
          <p><a class="btn" href="/team">看經營團隊 &raquo;</a></p>
        </div>
        <div class="span5">
          <h2>技術支援 <img src='/static/images/sample/icon2.png' alt=''/> </h2>
          <p>1. 產品相關文件, 2. 軟體更新, 3. 硬體規格</p>
          <p>通通都可以在這裡找到喔!!歡迎來到MQ WIKI資料庫中心尋找您要的資訊.</p>
          <p><a class="btn" href="http://54.65.121.155:8080">看詳細資料 &raquo;</a></p>
       </div>
        <div class="span5">
          <h2>與MQ連繫 <img src='/static/images/sample/icon3.png' alt=''/> </h2>
          <p>想購買商品或有疑難雜症想連繫我們,都可以在這裡找到相關資訊喔!</p>
          <p><a class="btn" href="/contact">看詳細資訊 &raquo;</a></p>
        </div>
      </div>

      <footer>
        <p>&copy; Author 2014 By Wig C.</a></p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
