<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>MayQueen Technology</title>
		<meta name="author" content="Codrops" />
		<link rel="stylesheet" type="text/css" href="/static/index/css/default.css" />
		<link rel="stylesheet" type="text/css" href="/static/index/css/component.css" />
		<link rel="stylesheet" type="text/css" href="/static/time/css/default.css" />
		<link rel="stylesheet" type="text/css" href="/static/time/css/component.css" />
		<script src="/static/index/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="clearfix">
                <img src="/static/index/image/main.jpg"><br>
				<h1>MayQueen Official Website</h1>
			</header>	
            <div>
                <center><img src="https://dl.dropboxusercontent.com/u/70208644/images/official/home/bg.jpg" class="topimg"></center>
            </div>
			<ul id="cbp-tm-menu" class="cbp-tm-menu">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="#">Products</a>
					<ul class="cbp-tm-submenu">
						<li><a href="/minipc" class="cbp-tm-icon-cog">Mini PC Solution</a></li>
						<li><a href="/dashcam" class="cbp-tm-icon-cog">DashCam Solution</a></li>
						<li><a href="/miniserver" class="cbp-tm-icon-cog">Mini Server Solution</a></li>
						<li><a href="http://wigcheng.gitbooks.io/mayqueen/content/" class="cbp-tm-icon-cog">Projects</a></li>
					</ul>
				</li>
				<li>
					<a href="#">News</a>
					<ul class="cbp-tm-submenu">
						<li><a href="https://www.facebook.com/lovemayqueen" class="cbp-tm-icon-archive">MayQueen News</a></li>
						<li><a href="/download" class="cbp-tm-icon-archive">Download Center</a></li>
						<li><a href="http://54.65.49.210:5000/" class="cbp-tm-icon-archive">Forum</a></li>
					</ul>
				</li>
				<li>
					<a href="#">About Us</a>
					<ul class="cbp-tm-submenu">
						<li><a href="/team" class="cbp-tm-icon-users">Core Team</a></li>
						<li><a href="/contact" class="cbp-tm-icon-users">Contact Us</a></li>
					</ul>
				</li>

				<li>
					<a href="#">Language</a>
					<ul class="cbp-tm-submenu">
						<li><a href="/" class="cbp-tm-icon-users">English</a></li>
						<li><a href="/" class="cbp-tm-icon-users">繁體中文</a></li>
					</ul>
				</li>
			</ul>
			<div class="filler-below">

        <div class="main">
                <ul class="cbp_tmtimeline">
                    <li>
                        <time class="cbp_tmtime" datetime="2013-05-10"><span></span> <span>2014/5</span></time>
                        <div class="cbp_tmicon cbp_tmicon-screen"></div>
                        <div class="cbp_tmlabel">
                            <h2>MayQueen's headquarter is located in TW officially</h2>
                            <p>MayQueen is ambitious of being the best design and develope technology goods platform in the world, we not only have many the top of RD but also expert management employees. We insist to sell high quality and invent indivisual goods only. We'll reach the world's business-opportunity in the future even though we're located in TW in 2015 so far. Everyone would be attracted by us in the world soon!</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime="2014-10-11"><span></span> <span>2014/10</span></time>
                        <div class="cbp_tmicon cbp_tmicon-screen"></div>
                        <div class="cbp_tmlabel">
                            <h2>First Milestone</h2>
                            <p>At the beginning, We're being a vendor to sell kid's tablet and get good scores. Nevertheless, we've determined to become a head company of embedded application per our latest discussion and also allied with RS componet. All we can do is to provide the best service and price to our customers.</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime="2015-01-11"><span></span> <span>2015/1</span></time>
                        <div class="cbp_tmicon cbp_tmicon-mail"></div>
                        <div class="cbp_tmlabel">
                            <h2>Transformation</h2>
                            <p>We keep offering mini-pc and dashcam solution this kind of new embedded products, it declares that our change is totally succeed!</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime="2013-09-09"><span></span> <span>2015/9</span></time>
                        <div class="cbp_tmicon cbp_tmicon-phone"></div>
                        <div class="cbp_tmlabel">
                            <h2>In the Future</h2>
                            <p>We're going to invest highly efficient ARM platform and look for more talented person. We pursue to being the head of the embedded industry by the international team-work with new partner-Freescale and Linaro.</p>
                        </div>
                    </li>
                    </ul>
            </div>
        </div>
		<script src="/static/index/js/cbpTooltipMenu.min.js"></script>
		<script>
			var menu = new cbpTooltipMenu( document.getElementById( 'cbp-tm-menu' ) );
		</script>
	</body>
</html>
