<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mini PC Solution</title>
	<!-- Feather Icons -->
	<link rel="stylesheet" type="text/css" href="/static/products/fonts/feather/style.css">
	<!-- General demo styles & header -->
	<link rel="stylesheet" type="text/css" href="/static/products/css/demo.css" />
	<!-- Component styles -->
	<link rel="stylesheet" type="text/css" href="/static/products/css/component.css" />
	<script src="/static/products/js/modernizr.custom.js"></script>
</head>
<body>
<a href="/"><span><b>Home</b></span></a>
	<!-- Main container -->
	<div class="container">
		<!-- Blueprint header -->
		<!-- Grid -->
        <header class="bp-header cf">
            <span>MayQueenTek</span>
            <h1>Mini Server Solution</h1>
        </header>

		<section class="slider">
			<div class="slide slide--current" data-content="content-1">
				<div class="slide__mover">
					<div class="zoomer flex-center">
						<img class="zoomer__image" src="https://dl.dropboxusercontent.com/u/70208644/images/official/products/macbook.png" alt="rs005-2b preview" />
						<div class="preview">
							<img src="https://dl.dropboxusercontent.com/u/70208644/images/official/products/rs005-2b-content-preview.jpg" alt="rs005-2b preview" />
							<div class="zoomer__area zoomer__area--size-2"></div>
						</div>
					</div>
				</div>
				<h2 class="slide__title"><span>The Smallest</span>Mini Server-Basic</h2>
			</div>
			<div class="slide slide" data-content="content-2">
				<div class="slide__mover">
					<div class="zoomer flex-center">
						<img class="zoomer__image" src="https://dl.dropboxusercontent.com/u/70208644/images/official/products/macbook.png" alt="rs005-2b preview" />
						<div class="preview">
							<img src="https://dl.dropboxusercontent.com/u/70208644/images/official/products/xs006-content-preview.jpg" alt="xs006 preview" />
							<div class="zoomer__area zoomer__area--size-3"></div>
						</div>
					</div>
				</div>
				<h2 class="slide__title"><span>Next Generation</span>Mini Server-Rock</h2>
			</div>
			<nav class="slider__nav">
				<button class="button button--nav-prev"><i class="icon icon--arrow-left"></i><span class="text-hidden">Previous product</span></button>
				<button class="button button--zoom"><i class="icon icon--zoom"></i><span class="text-hidden">View details</span></button>
				<button class="button button--nav-next"><i class="icon icon--arrow-right"></i><span class="text-hidden">Next product</span></button>
			</nav>
		</section>
		<!-- /slider-->
		<section class="content">
			<div class="content__item" id="content-1">
				<img class="content__item-img rounded-right" src="https://dl.dropboxusercontent.com/u/70208644/images/official/products/rs005-2b-content.jpg" alt="Apple Watch Content" />
				<div class="content__item-inner">
					<h2>Mini Server-Basic</h2>
					<h3>Good Size, Good Power Consumption</h3>
                    <p>Features<br>
                    ☛ CPU Broadcom BCM2836 ARM Cortex-A7 Quad core 900MHz <br>
                    ☛ GPU Broadcom BCM2763 Video Core<br>
                    ☛ RAM DDR3 1GB <br>
                    ☛ 40 fully available GPIO <br>
                    ☛ HDMI and Composite <br>
                    ☛ Analog Audio <br>
                    ☛ Micro SD card reader (boot device)<br>
                    ☛ 1 Micro USB <br>
                    ☛ 4 USB 2.0 connector <br>
                    ☛ Input Voltage 5V <br>
                    ☛ Ethernet RJ45 (10/100 MBit) <br>
                    ☛ Official plastic case</p>
                    ☛ Support Apps: GIT, SSH, SAMBA, REDMINE, FTP, WEB, etc.</p>
				</div>
			</div>

			<div class="content__item" id="content-2">
				<img class="content__item-img rounded-right" src="https://dl.dropboxusercontent.com/u/70208644/images/official/products/xs006-content.jpg" alt="Apple Watch Content" />
				<div class="content__item-inner">
					<h2>Mini Server-Rock</h2>
					<h3>Power Speed, Good Performance</h3>
                    <p>Features<br>
                    ☛ CPU Actions S500 ARM Cortex-A9 Quad core 1.2GHz <br>
                    ☛ GPU PowerVR SGX544<br>
                    ☛ RAM DDR3 2GB <br>
                    ☛ 16 fully available GPIO <br>
                    ☛ HDMI <br>
                    ☛ Micro SD card reader (boot device)<br>
                    ☛ 1 Micro USB <br>
                    ☛ 2 USB 2.0 connector <br>
                    ☛ 1 USB 3.0 connector <br>
                    ☛ Input Voltage 5V <br>
                    ☛ Ethernet RJ45 (10/100 MBit) <br>
                    ☛ OS: Ubuntu14.04 LTS</p>
				</div>
			</div>

			<button class="button button--close"><i class="icon icon--circle-cross"></i><span class="text-hidden">Close content</span></button>
		</section>
	</div>
	<script src="/static/products/js/classie.js"></script>
	<script src="/static/products/js/dynamics.min.js"></script>
	<script src="/static/products/js/main.js"></script>
</body>
</html>
