<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mini IoT Solution</title>
	<!-- Feather Icons -->
	<link rel="stylesheet" type="text/css" href="/static/products/fonts/feather/style.css">
	<!-- General demo styles & header -->
	<link rel="stylesheet" type="text/css" href="/static/products/css/demo.css" />
	<!-- Component styles -->
	<link rel="stylesheet" type="text/css" href="/static/products/css/component.css" />
	<script src="/static/products/js/modernizr.custom.js"></script>
</head>
<body>
<a href="/"><span><b>Home</b></span></a>
	<!-- Main container -->
	<div class="container">
		<!-- Blueprint header -->
		<!-- Grid -->
        <header class="bp-header cf">
            <span>MayQueenTek</span>
            <h1>Mini IoT Solution</h1>
        </header>

		<section class="slider">
			<div class="slide slide--current" data-content="content-1">
				<div class="slide__mover">
					<div class="zoomer flex-center">
						<img class="zoomer__image" src="https://dl.dropboxusercontent.com/u/70208644/images/official/products/macbook.png" alt="mi008-7688 preview" />
						<div class="preview">
							<img src="https://dl.dropboxusercontent.com/u/70208644/images/official/products/mi009-7688-content-preview.jpg" alt="mi009-7688 preview" />
							<div class="zoomer__area zoomer__area--size-2"></div>
						</div>
					</div>
				</div>
				<h2 class="slide__title"><span>Answer for Wireless</span>Mini IoT-Basic</h2>
			</div>
			<div class="slide slide" data-content="content-2">
				<div class="slide__mover">
					<div class="zoomer flex-center">
						<img class="zoomer__image" src="https://dl.dropboxusercontent.com/u/70208644/images/official/products/macbook.png" alt="ui008-neo preview" />
						<div class="preview">
							<img src="https://dl.dropboxusercontent.com/u/70208644/images/official/products/ui008-neo-content-preview.jpg" alt="ui008-neo preview" />
							<div class="zoomer__area zoomer__area--size-3"></div>
						</div>
					</div>
				</div>
				<h2 class="slide__title"><span>The Hybrid CPU</span>Mini IoT-Special</h2>
			</div>
			<nav class="slider__nav">
				<button class="button button--nav-prev"><i class="icon icon--arrow-left"></i><span class="text-hidden">Previous product</span></button>
				<button class="button button--zoom"><i class="icon icon--zoom"></i><span class="text-hidden">View details</span></button>
				<button class="button button--nav-next"><i class="icon icon--arrow-right"></i><span class="text-hidden">Next product</span></button>
			</nav>
		</section>
		<!-- /slider-->
		<section class="content">
			<div class="content__item" id="content-1">
				<img class="content__item-img rounded-right" src="https://dl.dropboxusercontent.com/u/70208644/images/official/products/mi009-7688-content.jpg" alt="Apple Watch Content" />
				<div class="content__item-inner">
					<h2>Mini IoT-Basic</h2>
					<h3>Smallest size for Wireless Applications</h3>
                    <p>Hardware Features<br>
                    ☛ CPU MIPS MT7688 <br>
                    ☛ RAM DDR2 128MB <br>
                    ☛ Micro SD card reader (boot device)<br>
                    ☛ 1 Micro USB <br>
                    ☛ Input Voltage 5V <br>
                    ☛ Wifi & BT <br>
                    ☛ I2S,PCM,PWM,I2C,PCIE </p>
                    <p>Software Support<br>
                    ☛ Linklt OS: OpenWrt</p>
				</div>
			</div>

			<div class="content__item" id="content-2">
				<img class="content__item-img rounded-right" src="https://dl.dropboxusercontent.com/u/70208644/images/official/products/ui008-neo-content.jpg" alt="Apple Watch Content" />
				<div class="content__item-inner">
					<h2>Mini IoT-Special</h2>
					<h3>The Hybrid CPUs, Compatable For All Applications</h3>
                    <p>Hardware Features<br>
                    ☛ CPU NXP IMX6SX ARM Cortex-A9 & Cortex-M4 <br>
                    ☛ GPU  Vivante GC320<br>
                    ☛ RAM DDR3 1GB <br>
                    ☛ 32 GPIO for A9, 22 for M4(for Ardiono)<br>
                    ☛ Micro HDMI <br>
                    ☛ Micro SD card reader (boot device)<br>
                    ☛ 1 Micro USB <br>
                    ☛ 1 USB 2.0 connector <br>
                    ☛ Input Voltage 12V <br>
                    ☛ Wifi & BT <br>
                    ☛ UART,CAN,PWM,SPI,I2C </p>
                    <p>Software Support<br>
                    ☛ UDOO OS: Ubuntu14.04, Android5.0</br>
                    ☛ MayQueen OS: Android5.1, Android6.0,FreeRTOS </br>
                    ☛ MayQueen Kernel Support: 3.14</p>
				</div>
			</div>

			<button class="button button--close"><i class="icon icon--circle-cross"></i><span class="text-hidden">Close content</span></button>
		</section>
	</div>
	<script src="/static/products/js/classie.js"></script>
	<script src="/static/products/js/dynamics.min.js"></script>
	<script src="/static/products/js/main.js"></script>
</body>
</html>
