<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mini PC Solution</title>
	<!-- Feather Icons -->
	<link rel="stylesheet" type="text/css" href="/static/products/fonts/feather/style.css">
	<!-- General demo styles & header -->
	<link rel="stylesheet" type="text/css" href="/static/products/css/demo.css" />
	<!-- Component styles -->
	<link rel="stylesheet" type="text/css" href="/static/products/css/component.css" />
	<script src="/static/products/js/modernizr.custom.js"></script>
</head>
<body>
<a href="/"><span><b>Home</b></span></a>
	<!-- Main container -->
	<div class="container">
		<!-- Blueprint header -->
		<!-- Grid -->
        <header class="bp-header cf">
            <span>MayQueenTek</span>
            <h1>Mini PC Solution</h1>
        </header>

		<section class="slider">
			<div class="slide slide--current" data-content="content-1">
				<div class="slide__mover">
					<div class="zoomer flex-center">
						<img class="zoomer__image" src="https://dl.dropboxusercontent.com/u/70208644/images/official/products/macbook.png" alt="rp002-1a preview" />
						<div class="preview">
							<img src="https://dl.dropboxusercontent.com/u/70208644/images/official/products/rp002-1a-content-preview.png" alt="rp002-1a preview" />
							<div class="zoomer__area zoomer__area--size-2"></div>
						</div>
					</div>
				</div>
				<h2 class="slide__title"><span>The Smallest</span>Mini PC-Basic</h2>
			</div>
			<div class="slide" data-content="content-2">
				<div class="slide__mover">
					<div class="zoomer flex-center">
						<img class="zoomer__image" src="https://dl.dropboxusercontent.com/u/70208644/images/official/products/macbook.png" alt="rp003-2b preview" />
						<div class="preview">
							<img src="https://dl.dropboxusercontent.com/u/70208644/images/official/products/rp003-2b-content-preview.png" alt="rp003-2b preview" />
							<div class="zoomer__area zoomer__area--size-2"></div>
						</div>
					</div>
				</div>
				<h2 class="slide__title"><span>The Amazing</span>Mini PC-Utimate</h2>
			</div>
			<nav class="slider__nav">
				<button class="button button--nav-prev"><i class="icon icon--arrow-left"></i><span class="text-hidden">Previous product</span></button>
				<button class="button button--zoom"><i class="icon icon--zoom"></i><span class="text-hidden">View details</span></button>
				<button class="button button--nav-next"><i class="icon icon--arrow-right"></i><span class="text-hidden">Next product</span></button>
			</nav>
		</section>
		<!-- /slider-->
		<section class="content">
			<div class="content__item" id="content-1">
				<img class="content__item-img rounded-right" src="https://dl.dropboxusercontent.com/u/70208644/images/official/products/rp002-1a-content.jpg" alt="Apple Watch Content" />
				<div class="content__item-inner">
					<h2>Mini PC-Basic</h2>
					<h3>Good Size, Good Power Consumption</h3>
                    <p>Hardware Features<br>
                    ☛ CPU Broadcom BCM2835 ARM Cortex-A6 Single core 700MHz <br>
                    ☛ GPU Broadcom BCM2763 Video Core<br>
                    ☛ RAM DDR3 256MB <br>
                    ☛ 40 fully available GPIO <br>
                    ☛ HDMI and Composite <br>
                    ☛ Analog Audio <br>
                    ☛ Micro SD card reader (boot device)<br>
                    ☛ 1 Micro USB <br>
                    ☛ 3 USB 2.0 connector using USB Hub <br>
                    ☛ Input Voltage 5V <br>
                    ☛ Wifi dongle<br>
                    ☛ Clear acrylic case</p>
                    <p>Software Support<br>
                    ☛ RPI OS: Raspbian, OSMC</br>
                    ☛ MayQueen OS: Raspbian 7.5 Chinese Version</br>
                    ☛ MayQueen Kernel Support: 3.18</p>

				</div>
			</div>
			<div class="content__item" id="content-2">
				<img class="content__item-img rounded-right" src="https://dl.dropboxusercontent.com/u/70208644/images/official/products/rp003-2b-content.jpg" alt="MacBook Content" />
				<div class="content__item-inner">
					<h2>Mini PC-Utimate</h2>
					<h3>The Power, The Future!</h3>
                    <p>Features<br>
                    ☛ CPU Broadcom BCM2836 ARM Cortex-A7 Quad core 900MHz <br>
                    ☛ GPU Broadcom BCM2763 Video Core<br>
                    ☛ RAM DDR3 1GB <br>
                    ☛ 40 fully available GPIO <br>
                    ☛ HDMI and Composite <br>
                    ☛ Analog Audio <br>
                    ☛ Micro SD card reader (boot device)<br>
                    ☛ 1 Micro USB <br>
                    ☛ 4 USB 2.0 connector <br>
                    ☛ Input Voltage 5V <br>
                    ☛ Ethernet RJ45 (10/100 MBit) <br>
                    ☛ Official plastic case</p>
                    <p>Software Support<br>
                    ☛ RPI OS: Raspbian,Snappy Ubuntu, OSMC (about 32 OS)</br>
                    ☛ MayQueen OS: Ubuntu14.04-LTS, Android 6.0-Alpha</br>
                    ☛ MayQueen Kernel Support: 3.18, 4.1, 4.3</p>
				</div>
			</div>
			<button class="button button--close"><i class="icon icon--circle-cross"></i><span class="text-hidden">Close content</span></button>
		</section>
	</div>
	<script src="/static/products/js/classie.js"></script>
	<script src="/static/products/js/dynamics.min.js"></script>
	<script src="/static/products/js/main.js"></script>
</body>
</html>
