<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MayQueen Embedded Studio</title>
    <link href="/static/style/boilerplate.css" rel="stylesheet" type="text/css">
    <link href="/static/style/index.css" rel="stylesheet" type="text/css">
    <!-- favicon fonts -->
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lobster|Six+Caps" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/js/respond.min.js"></script>
    <script type="text/javascript" src="/static/js/imgflip.js"></script>
  </head>
  <body>
    <div class="gridContainer clearfix">
      <div id="div1" class="fluid">

        <header>
          <div id="contact">
              <h1><a href='https://dl.dropboxusercontent.com/u/70208644/images/doc/catalog/Mini-PC.pdf'>2016 New Catalog</a></h1>
          </div>
        	<div id="logo">
            <img src="/static/img/MQ2.png"/>
          </div>
        	<h1>MayQueen Embedded Studio</h1>
          <div id="cssmenu">
        		<ul>
        			<li><a href="/"><span>Home</span></a></li>
        			<li class="active"><a href="/products"><span>Products</span></a></li>
                    <li><a href="/download_minipc"><span>Download Center</span></a></li>
                    <li><a href="https://www.facebook.com/mayqueen.embedded/"><span>News</span></a></li>
                    <li><a href="http://www.mayqueentek.mooo.com:5000/"><span>Forum</span></a></li>
                    <li><a href="/about"><span>About Us</span></a></li>
        		</ul>
    		  </div>
		    </header>

       	<div id="servicecontainer">

          <h3>Mini PC</h3>
            <div class="imgblock fluid">
            	<a href="/product_info?RP002" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('image_rp002','','https://dl.dropboxusercontent.com/u/70208644/images/official/products/rp002-1a-preview.png',1)">
                <img id="image_rp002" src="https://dl.dropboxusercontent.com/u/70208644/images/sales/rp002-1a.jpg">
              </a>
              <div class ="imglabel">Basic</div>
            </div>
            <div class="imgblock fluid">
            	<a href="/product_info?rp003" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('image_rp003','','https://dl.dropboxusercontent.com/u/70208644/images/official/products/rp003-2b-preview.png',1)">
                <img id="image_rp003" src="https://dl.dropboxusercontent.com/u/70208644/images/sales/rp003-2b.jpg">
              </a>
              <div class ="imglabel">Ultimate</div>
            </div>
            <div class="imgblock fluid">
            	<a href="/product_info?rp009" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('image_rp009','','https://dl.dropboxusercontent.com/u/70208644/images/official/products/rp009-3b-preview.png',1)">
                <img id="image_rp009" src="https://dl.dropboxusercontent.com/u/70208644/images/sales/kernel-4.4.jpeg">
              </a>
              <div class ="imglabel">Tomorrow</div>
            </div>

          <h3>Mini PC Plus</h3>
            <div class="imgblock fluid">
            	<a href="contact.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('image_np012','','https://dl.dropboxusercontent.com/u/70208644/images/official/products/np012-mx6q-preview.png',1)">
                <img id="image_np012" src="https://dl.dropboxusercontent.com/u/70208644/images/sales/np012-mx6q.jpg">
              </a>
              <div class ="imglabel">Diversity</div>
            </div>

           <h3>Mini IoT</h3>

            <div class="imgblock fluid">
            	<a href="contact.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('image_mi010','','https://dl.dropboxusercontent.com/u/70208644/images/official/products/mi010-7688-preview.png',1)">
                <img id="image_mi010" src="https://dl.dropboxusercontent.com/u/70208644/images/sales/mi010-7688.jpg">
              </a>
            	<div class ="imglabel">Nano</div>
            </div>
            <div class="imgblock fluid">
            	<a href="contact.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('image_ui008','','https://dl.dropboxusercontent.com/u/70208644/images/official/products/ui008-neo-preview.png',1)">
                <img id="image_ui008" src="https://dl.dropboxusercontent.com/u/70208644/images/sales/ui008-neo.jpg">
              </a>
            	<div class ="imglabel">Special</div>
            </div>

          <h3>Mini Server</h3>

            <div class="imgblock fluid">
            	<a href="contact.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('image_rs005','','https://dl.dropboxusercontent.com/u/70208644/images/official/products/rp003-2b-preview.png',1)">
                <img id="image_rs005" src="https://dl.dropboxusercontent.com/u/70208644/images/sales/rs005-2b.jpg">
              </a>
            	<div class="imglabel">Basic</div>
            </div>
            <div class="imgblock fluid">
            	<a href="contact.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('image_xs006','','https://dl.dropboxusercontent.com/u/70208644/images/official/products/xs006-xpi-preview.png',1)">
                <img id="image_xs006" src="https://dl.dropboxusercontent.com/u/70208644/images/sales/xs006.jpg">
              </a>
            	<div class="imglabel">Luxury</div>
            </div>

          <h3>Digital Signage</h3>

            <div class="imgblock fluid">
            	<a href="contact.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('image_rds011','','https://dl.dropboxusercontent.com/u/70208644/images/official/products/rp009-3b-preview.png',1)">
                <img id="image_rds011" src="https://dl.dropboxusercontent.com/u/70208644/images/sales/RDS011-2B-1.jpg">
              </a>
            	<div class="imglabel">Basic</div>
            </div>

          <h3>Dash Cam</h3>

            <div class="imgblock fluid">
            	<a href="contact.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('image_rd007','','https://dl.dropboxusercontent.com/u/70208644/images/official/products/rd007-1b-preview.png',1)">
                <img id="image_rd007" src="https://dl.dropboxusercontent.com/u/70208644/images/sales/rd007-1b.jpg">
              </a>
            	<div class="imglabel">Basic</div>
            </div>

          <h3>Kits</h3>

            <div class="imgblock fluid">
            	<a href="contact.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('imageO1a','','img/services/O1b.jpg',1)">
                <img id="imageO1a" src="https://dl.dropboxusercontent.com/u/70208644/images/sales/kit/pack.jpg">
              </a>
            	<div class="imglabel">Basic</div>
            </div>

            <h3 id="nonedisplay"></h3>

			  <div id="lowerline"></div>

        <footer>
          <p>Copyright MayQueen 2016</p>
        </footer>

      </div>
    </div>
  </body>
</html>
