<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Support</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/scripts/bootstrap-dropdown.js"></script>

    <script type='text/javascript'>
    $(document).ready(function(){
      $('#topbar').dropdown();
    });
    </script>

    <!-- Le styles -->
    <STYLE TYPE="text/css">
        @import url("/static/bootstrap/css/bootstrap.min.css");
    </STYLE>

    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/static/bootstrap/css/style.css" rel="stylesheet" type="text/css">

  </head>

  <body>
    <!--begin nav-->

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="#">MAYQUEEN TEK</a>
            </div>
            <div class="collapse navbar-collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">{{home}}</a></li>
                    <li><a href="/team">{{about_us}}</a></li>
                    <li><a href="/goods">{{product}}</a></li>
                    <li class="active"><a href="/support">{{support}}</a></li>
                    <li><a href="/news">{{news}}</a></li>
                    <li><a href="/contact">{{contact}}</a></li>
                </ul>

            </div>
        </div>
    </div>

    <!-- End of navbar-->
    <br><br><br><br>

    <div class="container bottompad">

    <h2 class="underline">Support</h2>
          <h3>Document Guide</h3>
          <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/support/pdf-icon.png' class='content-thumbnail'/>
          <p></p>
          <strong>RD001-1A User Guide: </strong><a href='#'>Click Me</a><br/>

          <HR color="#00FF00" size="5">
          <h3>System Image Download</h3>
          <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/support/image.png' class='content-thumbnail'/>
          <p></p>
          <strong>RD001-1A SD Card Image: </strong><a href='https://dl.dropboxusercontent.com/u/70208644/images/release/20150426_RD001-1A.tar.xz'>Click Me</a><br/>

          <HR color="#000000" size="5">
          <h3>Source code Download</h3>
          <img src='https://dl.dropboxusercontent.com/u/70208644/images/official/support/icon-source-code.png' class='content-thumbnail'/>
          <p></p>
    </div>

  </body>
</html>
