<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MayQueen</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap-dropdown.js"></script>

    <script type='text/javascript'>
    $(document).ready(function(){
      $('#topbar').dropdown();
    });
    </script>

    <!-- Le styles -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
      .content-row div{
        display:inline-block;
        width:192px;
      }
      .content-row input.btn{
        margin:auto;
        font-weight:bold;
        width:100%;
      }
      img.content-thumbnail{
        width:100%;
      }
      .title{
        font-weight:bold;
        font-size:18pt;
        text-align:center;
      }
      .current-price{
        color:#000079;
        font-weight:bold;
        font-size:22pt;
        text-align:center;
      }
      .time-left{
        color:#468847;
        font-weight:bold;
        font-size:18pt;
        text-align:center;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="index.html">經營團隊</a>
          <ul class="nav">
            <li><a href="index.html">回首頁</a></li>
          </ul>
        </form>

        </div>
      </div>
    </div>
    <div class="container">

      <div class='cleaner'></div>
      <h1>MQ管理團隊</h1>

      <div class='span16'>
        <div class='content-row'>
          <div class='well'>
            <img src='/static/images/sample/fafa.jpg' class='content-thumbnail'/>
            <div class='cleaner'></div>
            <div class='title'>董事長</div>
            <div class='cleaner'></div>
            <div class='current-price'>Fada Kuo</div>
            <div class='cleaner'></div>
            <div class='time-left'></div>
            <div class='cleaner'></div>
            <input type='button' class='btn primary large' value='詳細介紹'/>
          </div>
          <div class='well'>
            <img src='/static/images/sample/q.jpg' class='content-thumbnail'/>
            <div class='cleaner'></div>
            <div class='title'>品牌總監</div>
            <div class='cleaner'></div>
            <div class='current-price'>David Liu</div>
            <div class='cleaner'></div>
            <div class='time-left'></div>
            <div class='cleaner'></div>
            <input type='button' class='btn primary large' value='詳細介紹'/>
          </div>
          <div class='well'>
            <img src='/static/images/sample/watson.jpg' class='content-thumbnail'/>
            <div class='cleaner'></div>
            <div class='title'>財務長</div>
            <div class='cleaner'></div>
            <div class='current-price'>Watson W.</div>
            <div class='cleaner'></div>
            <div class='time-left'>兼業務總監</div>
            <div class='cleaner'></div>
            <input type='button' class='btn primary large' value='詳細介紹'/>
          </div>

        </div>
      </div>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="index.html">經營團隊</a>
          <ul class="nav">
            <li><a href="index.html">回首頁</a></li>
          </ul>
        </form>

        </div>
      </div>
    </div>
    <div class="container">

      <div class='cleaner'></div>
      <h1>MQ研發團隊</h1>

      <div class='span16'>
        <div class='content-row'>
          <div class='well'>
            <img src='/static/images/sample/wig.jpg' class='content-thumbnail'/>
            <div class='cleaner'></div>
            <div class='title'>品牌公關</div>
            <div class='cleaner'></div>
            <div class='current-price'>Wig Cheng</div>
            <div class='cleaner'></div>
            <div class='time-left'>兼軟體工程師</div>
            <div class='cleaner'></div>
            <input type='button' class='btn primary large' value='詳細介紹'/>
          </div>
          <div class='well'>
            <img src='/static/images/sample/carl.jpg' class='content-thumbnail'/>
            <div class='cleaner'></div>
            <div class='title'>R&D</div>
            <div class='cleaner'></div>
            <div class='current-price'>Carl Chang</div>
            <div class='cleaner'></div>
            <div class='time-left'>軟體工程師</div>
            <div class='cleaner'></div>
            <input type='button' class='btn primary large' value='詳細介紹'/>
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; Author 2014 by Wig C.</a></p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
