<!doctype html>
<html lang="en">
<head>
	<title>About Us</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/static/bootstrap/css/style.css" rel="stylesheet" type="text/css">


    <STYLE TYPE="text/css">
      @import url("/static/team/css/reset.css");
      @import url("/static/team/css/style.css");
      @import url("http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif");
    </STYLE>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/static/bootstrap/css/style.css" rel="stylesheet" type="text/css">

	<script src="/static/team/js/modernizr.js"></script> <!-- Modernizr -->
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="#">MAYQUEEN TEK</a>
            </div>
            <div class="collapse navbar-collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">{{home}}</a></li>
                    <li class="active"><a href="/team">{{about_us}}</a></li>
                    <li><a href="/goods">{{product}}</a></li>
                    <li><a href="/support">{{support}}</a></li>
                    <li><a href="http://mayqueentek.blogspot.tw/">{{news}}</a></li>
                    <li><a href="/contact">{{contact}}</a></li>
                </ul>

            </div>
        </div>
    </div>

	<main>
		<section id="cd-team" class="cd-section">
			<div class="cd-container">
				<h2>Core Team</h2>
				<ul>
					<li>
						<a href="#0" data-type="member-1">
							<figure>
								<img src="https://dl.dropboxusercontent.com/u/70208644/images/official/team/fafa.jpg" alt="Team member 1">
								<div class="cd-img-overlay"><span>View Detail</span></div>
							</figure>

							<div class="cd-member-info">
								Fada Kuo <span>CEO</span>
							</div> <!-- cd-member-info -->
						</a>
					</li>
					
					<li>
						<a href="#0" data-type="member-2">
							<figure>
								<img src="https://dl.dropboxusercontent.com/u/70208644/images/official/team/can.jpg" alt="Team member 1">
								<div class="cd-img-overlay"><span>View Detail</span></div>
							</figure>

							<div class="cd-member-info">
								Watson Wang <span>Marketing</span>
							</div> <!-- cd-member-info -->
						</a>
					</li>

					<li>
						<a href="#0" data-type="member-3">
							<figure>
								<img src="/static/team/img/team-member-1.jpg" alt="Team member 1">
								<div class="cd-img-overlay"><span>View Detail</span></div>
							</figure>

							<div class="cd-member-info">
								David Liu<span>Quality Assurance</span>
							</div> <!-- cd-member-info -->
						</a>
					</li>

					<li>
						<a href="#0" data-type="member-4">
							<figure>
								<img src="https://dl.dropboxusercontent.com/u/70208644/images/official/team/wig.jpg" alt="Team member 1">
								<div class="cd-img-overlay"><span>View Detail</span></div>
							</figure>

							<div class="cd-member-info">
								Wig Cheng <span>Software</span>
							</div> <!-- cd-member-info -->
						</a>
					</li>

					<li>
						<a href="#0" data-type="member-5">
							<figure>
								<img src="https://dl.dropboxusercontent.com/u/70208644/images/official/team/eric.jpg" alt="Team member 1">
								<div class="cd-img-overlay"><span>View Detail</span></div>
							</figure>

							<div class="cd-member-info">
								SK Tsai <span>Algorithm</span>
							</div> <!-- cd-member-info -->
						</a>
					</li>

				</ul>
			</div> <!-- cd-container -->
		</section> <!-- cd-team -->

		<div class="cd-overlay"></div>
	</main>

	<div class="cd-member-bio member-1">
		<div class="cd-member-bio-pict">
			<img src="/static/team/img/member-bio-img-1.jpg" alt="Member Bio image">
		</div> <!-- cd-member-bio-pict -->

		<div class="cd-bio-content">
			<h1>Meet Fada Kuo</h1>
			<p>畢業於高雄第一科技大學</p>
			<p>FaFa是MQ的精神領袖!他的創業精神從很早就開始了，退伍後就到中國最大的網拍平台開了好幾間服飾店，從中累積不少商業營運的經驗之外，也深刻體驗到服務精神在企業中的重要性,其累積豐富的技術實作和市場經驗更是MQ團隊裏面最強的!Fada專精於管理與市場趨勢的研究,另外喜歡想新的idea與異業合作!</p>
		</div> <!-- cd-bio-content -->
	</div> <!-- cd-member-bio -->

	<div class="cd-member-bio member-2">
		<div class="cd-member-bio-pict">
			<img src="https://dl.dropboxusercontent.com/u/70208644/images/official/team/can-detail.jpg" alt="Member Bio image">
		</div> <!-- cd-member-bio-pict -->

		<div class="cd-bio-content">
			<h1>Meet Watson Wang</h1>
			<p>畢業於高雄海洋科技大學</p>
            <p>Watson畢業後到澳洲深造,從此眼界大開,是個不折不扣的大玩咖!回國後待在台朔集團,現在於MQ負責市場策略擬定及業務推廣及各種網路行銷活動!關注MQ賣出去的產品數量比看股票還熱衷!下班後號稱該忙於寫文案與市場調查，但其實放空比較多,目前人生志向是要當個超有$的人.</p>
        </div> <!-- cd-bio-content -->
	</div> <!-- cd-member-bio -->

	<div class="cd-member-bio member-3">
		<div class="cd-member-bio-pict">
			<img src="/static/team/img/member-bio-img-3.jpg" alt="Member Bio image">
		</div> <!-- cd-member-bio-pict -->

		<div class="cd-bio-content">
			<h1>Meet David Liu</h1>
			<p>畢業於高雄海洋科技大學</p>
            <p>Davie是MQ的靈魂人物,處女座細密的心思在他身上展露無遺!畢業之後在仁寶電腦的經驗更是讓他在產品的品質保證這領域有深厚的功力,這幾年穩定的職場生活決心打破現狀、燃燒內心的小宇宙，希望讓自己往心目中的理想前進！放假之餘也許可以在馬拉松活動看到他的蹤影喔!</p>
		</div> <!-- cd-bio-content -->
	</div> <!-- cd-member-bio -->

	<div class="cd-member-bio member-4">
		<div class="cd-member-bio-pict">
			<img src="https://dl.dropboxusercontent.com/u/70208644/images/official/team/wig-detail.jpg" alt="Member Bio image">
		</div> <!-- cd-member-bio-pict -->

		<div class="cd-bio-content">
			<h1>Meet Wig Cheng</h1>
			<p>畢業於高雄第一科技大學</p>
            <p>Wig是一個熱衷Open Source精神的RD,MQ所有軟體核心交給他就對了!從上層網頁開發到系統核心移植全都難不倒他,Fada口中的idea都是靠他從無到有,自己也有一顆活到老學到老的心,每天都致力於學習新事物!</p>
		</div> <!-- cd-bio-content -->
	</div> <!-- cd-member-bio -->

	<div class="cd-member-bio member-5">
		<div class="cd-member-bio-pict">
			<img src="https://dl.dropboxusercontent.com/u/70208644/images/official/team/eric-detail.jpg" alt="Member Bio image">
		</div> <!-- cd-member-bio-pict -->

		<div class="cd-bio-content">
			<h1>SK Tsai</h1>
			<p>畢業於交通大學</p>
            <p>SK在軟體開發的境界已經是神級來形容,畢業後在台灣IC設計龍頭公司負責滿足客戶的任何軟體需求,聽到客戶親口對他說「你設計的程式真好用！」開始對程式開發感到上癮，才發現原來寫程式可以這麼開心，平常也喜歡到處遊山玩水，也會隨身背著底片相機街拍，同時也是位名車愛好者!加入MQ後擔任演算法開發的行列，如果Wig是負責將所有工具整合成一個系統的人,SK就是負責開發工具的"盤古"~!</p>
		</div> <!-- cd-bio-content -->
	</div> <!-- cd-member-bio -->

	<a href="#0" class="cd-member-bio-close">Close</a> <!-- close the author bio section -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/static/team/js/main.js"></script> <!-- Gem jQuery -->
</body>
</html>
